mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 900;
  > .mat-mini-fab { margin-right: 10px; }
  .spacer { flex: 1 1 auto; }
  .title {
    vertical-align: middle; margin-left: 20px; font-size: 30px;
    a { text-decoration: none; }
  }
  .logo {
    margin-left: 20px;
    img { vertical-align: middle; width: 100px; height: auto; }
  }
}

.mat-drawer { background-color: #673ab7; color: white; }
.mat-drawer-container { position: absolute; }

